<form action= '/links' method= 'post'>
	<label for= 'url'> 
	URL:
	<input type= 'text', name= 'url' />
	</label>
	<label for= 'title'>
	TITLE:
	<input type= 'text', name= 'title' />
	</label>
	<label for= 'tags'>
	TAGS:
	<input type= 'text', name= 'tags' />
	</label>
	<input type= 'submit', value= 'Create Link'/>
</form>
