<form method='post' action='/'>
  <label for='name'>Name:
    <input name='name' placeholder="Name" type='text' id='name'>
  </label>
  <input name='password' placeholder="Password" type='password'>
  <input name='password_test' placeholder="Password confirmation" type='password'>
  <input name='email' placeholder="name@domain.com" type='email'>
  <input type='submit' value='Register'>
</form>

<% if flash[:notice] %>
  <div id='notice'><%= flash[:notice] %></div>
<% end %>