<form action="/" method="post">
  <label for="email">
    Email:
    <input type="email" id="email" name="registered_email">
  </label>
  <label for="password">
    Password:
    <input type="password" id="password" name="registered_password">
  </label>
  <input type="submit" value="Sign in">
</form>
