What do you want to do?<br>
<a href="/links">View links</a> or <a href="/links/new">Add a link</a>

<form method='post' action='/register'>
  <label for='name'>Name:
    <input name='name' placeholder="Name" type='text' id='name'>
  </label>
  <input name='password' placeholder="Password" type='password'>
  <input name='password_test' placeholder="Password confirmation" type='password'>
  <input name='email' placeholder="name@domain.com" type='email'>
  <input type='submit' value='Register'>
</form>
