<form method='post' action='/register'>
  <label for='name'>Name:
    <input name='name' placeholder="Name" type='text' id='name'>
  </label>
  <input name='password' placeholder="Password" type='password'>
  <input name='email' placeholder="name@domain.com" type='email'>
  <input type='submit' value='Register'>
</form>
