<% unless current_user %>
<form action="/" method="post">
  <label for="email">
    Email:
    <input type="email" id="email" name="registered_email">
  </label>
  <label for="password">
    Password:
    <input type="password" id="password" name="registered_password">
  </label>
  <input type="submit" value="Sign in">
</form>
or <a href="/users/new">Sign up</a>
<% else %>
<ul id="menu">
  <li><a href="/links">View links</a></li>
  <li><a href="/links/new">Add new link</a></li>
</ul>
<% end %>
