<!DOCTYPE html>
<html>
  <head>
    <title> Bookmark Manager</title>
    <link rel="stylesheet" href="/main.css">
  </head>

  <body>
    <%= partial :welcome %>
    <%= partial :flash %>
    <%= yield %>
  </body>
</html>
