<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark Manager</title>
    <link rel="stylesheet" href="/main.css">
  </head>

  <body>
    <% if current_user %>
      Welcome, <%= current_user.name %>
    <% end %>
    <%= yield %>
  </body>
</html>
